<html>
    <script>
        function getRand() {
            var altitude = [50, 4000]
            var longitude = [-60, 10]
            var latitude = [0, 60]
            var randomAlt = Math.floor(Math.random() * (+altitude[1] - +altitude[0])) + +altitude[0];
            var randomLon = Math.floor(Math.random() * (+longitude[1] - +longitude[0])) + +longitude[0];
            var randomLat = Math.floor(Math.random() * (+latitude[1] - +latitude[0])) + +latitude[0];
            document.getElementById("altitude").value = randomAlt;
            document.getElementById("longitude").value = randomLon;
            document.getElementById("latitude").value = randomLat;
        }
    </script>
    <head>
        <title>Seasight Forecasting App</title>
    </head>
    <body>
        <p>Geographical location:</p>
        <form action="submit/" method="post">
            {% csrf_token %}
            Altitude: <input type="text" id="altitude" name="altitude"><br>
            Longitude: <input type="text" id="longitude" name="longitude"><br>
            Latitude: <input type="text" id="latitude" name="latitude"><br>
            <button type="button" onclick="getRand()">Random</button><br>
            <input type="submit" value="Generate KML">
        </form>
    </body>
</html>