{% load static %}
<!DOCTYPE html> 
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'seasight_forecasting/styles/style.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $('#enableDateTo').change(function() {
            $('#dateTo').prop("disabled", true);
            if(this.checked) {
                $('#dateTo').prop("disabled", false);
            }     
        });        
    </script>    
    <head>
        <title>Seasight Forecasting App</title>
    </head>
    <body>
        <div class="header">
            <div class="head_logo">
                <a href="/"><img src="{% static "seasight_forecasting/img/SEASIGHT_fit.png" %}" class="logo2"></a>
            </div>
            <div class="head_banner">
                <div class="crop">
                    <img src="{% static "seasight_forecasting/img/marine_temp_vintage.jpg" %}" class="header_img">
                </div>
            </div>
        </div>            

        <h1>Historic visualization</h1>
        <div class="container">
            <div>
                <canvas id="myCanvas" width="725" height="500" style="border:1px solid #d3d3d3;">
                    Your browser does not support the HTML canvas tag.</canvas>
                    
                    <script>
                        function drawbackground(canvas, context, onload){
                            var imagePaper = new Image();
                                imagePaper.onload = function(){
                                    context.drawImage(imagePaper, 0, 0, 725, 500);
                                    onload(canvas, context);
                                };

                            imagePaper.src = '{% static "seasight_forecasting/img/world_map.jpg" %}';
                        }
                        function drawlines(canvas, ctx){
                            // Atlantic north + mediterranean rectangle
                            ctx.beginPath();
                            ctx.lineWidth = "6";
                            ctx.strokeStyle = "red";
                            ctx.rect(180, 100, 240, 200);
                            ctx.stroke();

                            // Atlantic south rectangle
                            ctx.beginPath();
                            ctx.lineWidth = "6";
                            ctx.strokeStyle = "red";
                            ctx.rect(220, 300, 170, 170);
                            ctx.stroke();
                        }
                        var canvas = document.getElementById("myCanvas");
                        var context = canvas.getContext("2d");
                        context.clearRect(0, 0, canvas.width, canvas.height);
                        drawbackground(canvas, context, drawlines);
                    </script>
            </div>
            <div>                
                <form action="generateHistoricKML/" method="POST">
                    {% csrf_token %}
                    <span>From:</span><input type="date" id="dateFrom" name="dateFrom">
                    <input type="checkbox" checked="unchecked" id="enableDateTo">
                    <span>To:</span><input type="date" id="dateTo" name="dateTo" disabled>
                    <input type="submit">
                </form>
            </div>
        </div>
    </body>
</html>