{% load static %}
<!DOCTYPE html> 
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'seasight_forecasting/styles/style.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(function() {
            $('#enableDateTo').change(function() {
                $("#dateTo").attr("disabled", true);
                if (this.checked) {
                    $("#dateTo").removeAttr("disabled");                    
                }
            });
        });
        $(function() {
            $('#dateFrom').change(function() {
                $("#dateTo").attr("min", $(this).val());
            });
        });
    </script>
    <head>
        <title>Seasight Forecasting App</title>
    </head>
    <body>
        <div class="header">
            <div class="head_logo">
                <a href="/"><img src="{% static 'seasight_forecasting/logos/SF-logo' %}" class="logo2"></a>
            </div>
            <div class="head_banner">
                <div class="crop">
                    <img src="{% static 'seasight_forecasting/img/marine_temp_vintage.jpg' %}" class="header_img">
                </div>
            </div>
        </div>            

        <h1>Historic visualization</h1>
        {{ response }}
        <div class="container">
            <div>
                {% include "./canvas.html" %}
            </div>
            <div>                
                <form action="{% url 'past' %}" method="POST" name="GenerateKML" onsubmit="return validatePastForm()">
                    {% csrf_token %}                    
                    <div>
                        <span>Region: </span>
                        <input type="text" id="region" name="region" value="--" readonly="readonly">
                        <span id="regionVal" class="textVal"></span>
                    </div>
                    <div>
                        <span>From: </span>
                        <input type="date" id="dateFrom" name="dateFrom" min="{{min_date}}" max="{{max_date}}">
                        <span id="dateFromVal" class="textVal"></span>
                    </div>
                    <div>
                        <input type="checkbox" id="enableDateTo" name="check">
                        <span>To: </span>
                        <input type="date" id="dateTo" name="dateTo" min="{{min_date}}" max="{{max_date}}" disabled>
                        <span id="dateToVal" class="textVal"></span>
                    </div>
                    <!-- {% include "./app.html" %} -->
                    <input type="submit">
                </form>
            </div>
        </div>
    </body>
</html>