{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <head>
        <title>Seasight Forecasting App</title>
    </head>
    <body>
        <div class="header">
            <div class="head_logo_demo">
                <a href="/"><img src="{% static 'logos/SF-logo.png' %}" class="logo2"></a>
            </div>
            <div class="demo_header">
                <center>
                    <img src="{% static 'img/demo.jpg' %}" class="demo_img">
                </center>
            </div>
        </div>
        <div class="container">
            <div>
                <form action="{% url 'demo' %}" method="POST" name="StartDemo">
                    {% csrf_token %}
                    <input type="submit" value="Start" class="button" >
                </form>
            </div>
        </div>
    </body>
</html>