{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <head>
        <title>Seasight Forecasting App</title>
    </head>
    <body>
        <div class="header">
            <div class="head_logo">
                <a href="/"><img src="{% static 'logos/SF-logo.png' %}" class="logo2"></a>
            </div>
            <div class="head_banner">
                <img src="{% static 'img/marine_temp_futuristic_header.jpg' %}" class="header_img">
            </div>
        </div>

        <h1>Future visualization</h1>
        <div class="container">
            <div>
                {% include "./canvas.html" %}
            </div>
            <div>
                <form action="{% url 'future' %}" method="POST" id="formKML" name="GenerateKML" onsubmit="return onSubmit();">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>Region:</td>
                            <td><input type="text" id="region" name="region" value="--" readonly="readonly"></td>
                            <td><span id="regionVal" class="textVal"></span></td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="Submit" name="Submit" onclick="return validatePastForm();"></td>
                            <td><input type="submit" value="Stop" name="Stop"></td>
                        </tr>
                    </table>
                </form>
                <div id="verbose" class="verbose"></div>
                <div id="spinner" class="spinnercnt"><img src="{% static 'img/spinner.gif' %}" class="spinner"></div>
            </div>
        </div>
    </body>
</html>