{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <head>
        <title>Seasight Forecasting App</title>
    </head>
    <body>
        <img src="{% static 'logos/SF-logo.png' %}" class="logo">
        <div class="container">
            <div>
                <img src="{% static 'img/marine_temp_vintage.jpg' %}" class="case_img">
                <center>
                    <form action="past">
                        <input type="submit" value="Historic" class="button" />
                    </form>
                </center>
            </div>
            <div>
                <img src="{% static 'img/marine_temp.jpg' %}" class="case_img">
                <center>
                    <form action="present">
                        <input type="submit" value="Real time" class="button" />
                    </form>
                </center>
            </div>
            <div>
                <img src="{% static 'img/marine_temp_futuristic.jpg' %}" class="case_img">
                <center>
                    <form action="future">
                        <input type="submit" value="Future" class="button" />
                    </form>
                </center>
            </div>
            <div>
                <img src="{% static 'img/demo.jpg' %}" class="case_img">
                <center>
                    <form action="demo">
                        <input type="submit" value="DEMO" class="button" />
                    </form>
                </center>
            </div>
        </div>
        <div>
            <center>
                <form action="clean_KML">
                    <input type="submit" value="Clean KML" class="button" />
                </form>
            </center>
            <center>
                <form action="clean_ALL">
                    <input type="submit" value="Clean ALL" class="button" />
                </form>
            </center>
        </div>
        <div class="content-logos">
            <center>
                <img src="{% static 'logos/LG-logo.png' %}" class="logo-elem">
                <img src="{% static 'logos/LGlab-logo.png' %}" class="logo-elem">
                <img src="{% static 'logos/labTIC-logo.png' %}" class="logo-elem">
                <img src="{% static 'logos/PCITAL-logo.jpg' %}" class="logo-elem">
                <img src="{% static 'logos/GSOC-logo.png' %}" class="logo-elem">
                <img src="{% static 'logos/LGEU-logo.png' %}" class="logo-elem">
                <img src="{% static 'logos/UOC-logo.png' %}" class="logo-elem">
            </center>
        </div>
    </body>
</html>