
/* logo */
.logo {
  width: 8%;
  padding: 10px;
}

/* main page images */
.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.case_img {
  width: 350px;
  height: 200px;
  margin: 10px;
}

.button {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.disbutton {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  transition-duration: 0.4s;
  background-color: lightgray;
  color: black;
}

.button:hover {
  background-color: #008CBA;
  color: white;
}

/* header images */
.header {
  display: flex;
}

.head_logo {
  width: 8%;
}

.logo2 {
  width: 100%;
  padding: 10px;
}

.head_banner {
  width: 92%;
}

.header_img {
  width: 100%;
  top: 0px;
  left: 0px;
}

/* Validation */
.textVal {
  color: red;
}

/* Logos */
.content-logos {
  position: fixed;
  bottom: 0;
  right: 0;
}

.logo-elem {
  width: 10%;
}

.verbose {
  font-family: 'Courier New', Courier, monospace;
}

.spinnercnt {
  display: none;
}

.spinner {
  width: 15%;
}

.head_logo_demo {
  width: 8%;
  position: absolute;
}

.demo_header {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.demo_img {
  width: 40%;
}

.summary {
  width: 50%;
}